    /*
colors:
#ffee00
#000000
#1c1c1c
#6dbd45 btn color

*/



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: #1c1c1c;
}

.hidden{
    display: none;
}


/*

DESKTOP VERSION

*/

@media screen and (min-width: 1024px) {


    .hidden{
        display: none !important;
    }


    header{
        width: 100vw;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }

    body{
        background-color: #FFFFFF;
        color: #1c1c1c;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='446' height='446' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23FAFAF6' stroke-width='1.9'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23FFF8A4'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    }

    main{
        width: 100vw;
    }

    .thin{
        font-weight: 200;
    }

    header img{
        height: 100%;
        width: auto;
    }

    .container{
        margin: 0 auto;
        width: 100vw;
    }

    main .cont-hero{
        background-image: url(../img/FUNDO.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        height: 450px;
        color: #fff;
    }

    .hero{
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
        width: 1024px;
        padding: 30px 0;
    }

    .hero-text h1{
        line-height: 1.15;
        letter-spacing: 1.2px;
        margin-bottom: 20px;
        font-size: 40px;
    }

    .hero-text p{
        font-size: 15px;
    }

    .contato{
        border: none;
        padding: 12px 25px;
        background-color: #ffee00;
        text-transform: uppercase;
        font-weight: 800;
        cursor: pointer;
        display: inline-block;
        font-size: 17px;
        margin-top: 30px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.282); 
    box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.274);
    }

    .contato:hover{
        background-color: #e2d301;
    }

    .hero-image{
        width: 100%;
        height: 400px;
        position: relative;
    }

    .hero-image_dog{
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .hero-image_dog img{
        height: 200px;
    }



    .hero-image_man img{
        height: 500px;
        position: absolute;
        left: 0;
        top: -60px;
    }

    /*
    INTRO SECTION
    */

    .container-intro{
        margin: 0 auto;
        width: 100vw;
    }

    .intro{
        display: grid;
        grid-template-columns: 1024px;
        justify-content: center;
        padding: 40px 0;
    }

    .intro h2{
        text-align: center;
        font-size: 33px;
    }

    .intro-text{
        column-count: 3;
        column-gap: 30px;
        margin-top: 30px;
        text-align: justify;
        line-height: 1.4;
    }


    /*
    JOBS
    */

    .container-jobs{
        width: 100vw;
        background-color: #ffee00;
        height: 330px;
        
    }

    .jobs{
        width: 1024px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 40px;
        gap: 80px;
    }

    .job-box{
        text-align: center;
    }

    .job-box h3{
        font-size: 24px;
    }

    .job-box-content{
        margin-top: 70px;
        position: relative;
        background-color: #fff;
        border-radius: 20px;
        padding: 40px 20px;
        height: 230px;
        -webkit-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.5); 
        box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.5);
    }

    .job-box-content-icon{
        position: absolute;
        padding: 5px;
        left: 50%;
        top: -45px;
        transform: translateX(-50%);
        background: linear-gradient(40deg, rgba(0,0,0,1) 23%, rgba(174,230,45,1) 100%);
        width: 90px;
        height: 90px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.5);
    }



    .job-box .job-bold{
        font-size: 18px;
        margin: 20px 0 10px 0;
        font-weight: bold;
    }

    .job-box p{
        font-size: 17px;
        line-height: 1.4;
    }



    button:hover{
        background-color: #569b33;
    }

    button{
        border: none;
        position: absolute;
        bottom: -25px;
        left: 50%;
        width: 200px;
        height: 50px;
        transform: translateX(-50%);
        background-color: #6dbd45;
        text-transform: uppercase;
        font-weight: 800;
        cursor: pointer;
        font-size: 17px;
        border-radius: 10px;
        display: block;
        -webkit-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.5);
    }

    button:hover,
    .contacto:hover{
        background-color: #569b33;
    }


    /*
    JOBS
    */

    .container-design{
        background-color: #000;
        
    }

    .design{
        width: 1024px;
        margin: 0 auto;
        padding-top: 150px;
        padding-bottom: 100px;
        color: #fff;
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(3, 1fr);
    }

    .design-quote{
        padding: 0 20px 30px 20px;
        font-size: 28px;
        position: relative;
    }

    .design-quote p{
        z-index: 10;
    }

    .design-quote::before{
        content: url(../img/quote.png);
        position: absolute;
        height: 30px;
        width: 30px;
        display: flex;
        opacity: 0.4;

    }

    .design .design-col p{
        letter-spacing: 1.4px;
        line-height: 1.4;
    }

    /*
    PORTFOLIO
    */

    .container-portfolio,
    #container-logotipos{
        width: 100vw;
        background: rgb(255,238,0);
    background: linear-gradient(0deg, rgba(255,238,0,1) 23%, rgba(0,0,0,1) 23%, rgba(0,0,0,1) 78%, rgba(255,238,0,1) 78%);
    }

    .portfolio1,
    .portfolio2{
        padding: 30px;
        width: 900px;
        gap: 10px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .port-box img{
        cursor: pointer;
        height: 200px;
        width: 200px;
    }

    .port-box,
    .logo-box{
        transition: transform 0.9s;
    }

    .port-box:hover,
    .logo-box:hover{
        transform: scale(0.95);
    }

    /*
    LOGOTIPOS
    */

    #container-logotipos{
        height: auto;

    }

    #container-logotipos h2{
        display: none;
    }

    .logotipos{
        padding: 50px 0 100px 0;
        gap: 10px;
        display: grid;
        grid-template-columns: 250px 250px 250px;
        justify-content: center;
    }

    .logo-box img{
        cursor: pointer;
        height: auto;
        width: 250px;
    }

    .t3rd{
        background-color: #8156e4;
    }

    .logobg{
        background-color: #fff;
    }


    /*
    CTA FOOTER
    */

    .container-contato{
        width: 100vw;
        margin: 0 auto;
        background-color: #ffee00;
        padding-bottom: 80px;
    }

    .entrecontato{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .entrecontato p{
        font-size: 20px;
        font-weight: bold;
        
    }

    .contacto{
        border: none;
        padding: 12px 25px;
        background-color: #6dbd45;
        text-transform: uppercase;
        font-weight: 800;
        margin-left: 50px;
        cursor: pointer;
        display: inline-block;
        font-size: 17px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.282); 
        box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.135);
    }


    /*
    FOOTER
    */

    footer{
        width: 100vw;
        display: flex;
        padding-top: 30px;
        justify-content: center;
        padding-bottom: 150px;
    }

    .container-footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social{
        margin-left: 50px;
    }

    .social p{
        text-align: center;
        padding-bottom: 10px;
    }

    ul{
        list-style: none;
        display: flex;
    }

    li img{
        width: 60px;
        height: auto;
        cursor: pointer;
    }

    li{
        padding-right: 20px;
    }

    .prof{
        font-weight: 100;
        margin-bottom: 10px;
    }

    .local,
    .social p{
        font-size: 12px;
        font-weight: 100;
        
    }

    #prev{
        position: absolute;
        z-index: 1000;
        top: 50%;
        left: 10%;
        font-size: 30px;
        color: #fff;
        cursor: pointer;

    }

    #next{
        position: absolute;
        z-index: 1000;
        top: 50%;
        right: 10%;
        font-size: 30px;
        color: #fff;
        cursor: pointer;
    }

    #identidade{
        position: relative;

    }

}




/*--------------------------------------
            MOBILE VERSION
-------------------------------------------*/

@media screen and (max-width: 767px){

    .hidden{
        display: none !important;
    }

    header{
        width: 100vw;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
    }

    body{
        background-color: #FFFFFF;
        overflow-x: hidden;
        color: #1c1c1c;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='446' height='446' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23FAFAF6' stroke-width='1.9'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23FFF8A4'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    }

    main{
        width: 100vw;
    }

    header img{
        height: 100%;
        width: auto;
    }

    .container{
        margin: 0 auto;
        width: 100vw;
    }

    main .cont-hero{
        background-image: url(../img/FUNDO.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        height: 500px;
        color: #fff;
    }

    .hero{
        margin: 0 auto;
        display: flex;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.454) 25%, rgba(255,238,0,0) 100%);
        width: 100%;
        padding: 30px 20px;
    }

    .hero-text{
        text-align: center;
        z-index: 100;
    }

    .hero-text h1{
        line-height: 1;
        margin-bottom: 30px;
        font-size: 35px;
    }

    .hero-text p{
        font-size: 15px;
    }

    .contato{
        border: none;
        padding: 12px 25px;
        background-color: #ffee00;
        text-transform: uppercase;
        font-weight: 800;
        cursor: pointer;
        display: inline-block;
        font-size: 17px;
        margin-top: 30px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.282); 
        box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.274);
    }

    .contato:hover{
        background-color: #e2d301;
    }

    .hero-image{
        width: 100%;
        height: 400px;
        position: absolute;
        opacity: .3;
        z-index: 10;
    }

    .hero-image_dog{
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .hero-image_dog img{
        height: 200px;
    }



    .hero-image_man img{
        height: 400px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    /*
    INTRO SECTION
    */

    .container-intro{
        display: none;
        margin: 0 auto;
        width: 100vw;
    }

    .intro{
        display: grid;
        grid-template-columns: 1024px;
        margin: 0 auto;
        padding: 40px 0;
    }

    .intro h2{
        text-align: center;
        font-size: 33px;
    }

    .intro-text{
        column-count: 3;
        column-gap: 30px;
        margin-top: 30px;
        text-align: justify;
        line-height: 1.4;
    }




    /*
    JOBS
    */

    .container-jobs{
        width: 100vw;
        background-color: #000;
        height: auto;
        padding-bottom: 50px;
        
        
    }

    .jobs{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        padding: 40px 30px;
        gap: 80px;
    }

    .job-box{
        text-align: center;
    }

    .job-box h3{
        font-size: 24px;
        color: #fff;
    }

    .job-box-content{
        margin-top: 70px;
        display: inline-block;
        width: 80%;
        position: relative;
        background-color: #fff;
        border-radius: 20px;
        padding: 40px 20px;
        height: 220px;
        -webkit-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.5); 
        box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.5);
    }

    .job-box-content-icon{
        position: absolute;
        padding: 5px;
        left: 50%;
        top: -45px;
        transform: translateX(-50%);
        background: linear-gradient(40deg, rgba(0,0,0,1) 23%, rgba(174,230,45,1) 100%);
        width: 90px;
        height: 90px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.5);
    }



    .job-box .job-bold{
        font-size: 18px;
        margin: 20px 0 10px 0;
        font-weight: bold;
    }

    .job-box p{
        font-size: 17px;
        line-height: 1.4;
    }



    button:hover{
        background-color: #569b33;
    }

    button{
        border: none;
        position: absolute;
        bottom: -25px;
        left: 50%;
        width: 200px;
        height: 50px;
        transform: translateX(-50%);
        background-color: #6dbd45;
        text-transform: uppercase;
        font-weight: 800;
        cursor: pointer;
        font-size: 17px;
        border-radius: 10px;
        display: block;
        -webkit-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.5);
    }

    button:hover,
    .contacto:hover{
        background-color: #569b33;
    }

    /*
    QUOTE
    */

    .container-design{
        background-color: #000;

        
    }

    .design{
        width: 100%;
        margin: 0 auto;
        padding-top: 150px;
        padding-bottom: 100px;
        color: #fff;
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(3, 1fr);
    }

    .design-quote{
        padding: 0 20px 30px 20px;
        font-size: 28px;
        position: relative;
    }

    .design-quote p{
        z-index: 10;
    }

    .design-quote::before{
        content: url(img/quote.png);
        position: absolute;
        height: 30px;
        width: 30px;
        display: flex;
        opacity: 0.4;

    }

    .design .design-col p{
        letter-spacing: 1.4px;
        line-height: 1.4;
    }

    /*
    PORTFOLIO
    */

    .container-portfolio{
        background: rgb(255,238,0);
    }

    .portfolio1,
    .portfolio2{
        padding: 60px;
        gap: 10px;
        width: 100vw;
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .port-box img{
        cursor: pointer;
        width: 100%;
        height: 100%;
    }

    .port-box{
        width: 90%;
        height: 90%;
    }

    .port-box,
    .logo-box{
        transition: transform 0.9s;
    }

    .port-box:hover,
    .logo-box:hover{
        transform: scale(0.95);
    }

    /*
    LOGOTIPOS
    */

    .container-design{
        display: none;
    }

    #container-logotipos{
        width: 100vw;
        height: auto;
        background: #000;
        /* background: linear-gradient(0deg, rgba(255,238,0,1) 23%, rgba(0,0,0,1) 23%, rgba(0,0,0,1) 78%, rgba(255,238,0,1) 78%); */
    }

    .logotipos{
        padding: 50px 30px;
        gap: 30px;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .logotipos h2{
        color: #fff;
    }

    .logo-box img{
        cursor: pointer;
        height: auto;
        width: 250px;
    }

    .logo-intro h2{
        color: #fff;
    }

    .t3rd{
        background-color: #8156e4;
    }

    .logobg{
        background-color: #fff;
    }

    /*
    CTA FOOTER
    */

    .container-contato{
        width: 100vw;
        margin: 0 auto;
        background-color: #ffee00;
        text-align: center;
        padding: 40px 30px;
    }

    .entrecontato{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .entrecontato p{
        font-size: 20px;
        font-weight: bold;
        
    }

    .contacto{
        border: none;
        padding: 12px 25px;
        background-color: #6dbd45;
        text-transform: uppercase;
        font-weight: 800;
        margin-top: 40px;
        margin-left: 0px !important;
        cursor: pointer;
        display: inline-block;
        font-size: 17px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.282); 
        box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.135);
    }


    /*
    FOOTER
    */

    footer{
        width: 100vw;
        display: flex;
        padding-top: 30px;
        justify-content: center;
        padding-bottom: 150px;
    }

    .container-footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social{
        margin-left: 50px;
    }

    .social p{
        text-align: center;
        padding-bottom: 10px;
    }

    ul{
        list-style: none;
        display: flex;
    }

    li img{
        width: 40px;
        height: auto;
        cursor: pointer;
    }

    li{
        padding-right: 20px;
    }

    .prof{
        font-weight: 100;
        margin-bottom: 10px;
    }

    .local,
    .social p{
        font-size: 12px;
        font-weight: 100;
        
    }
    #prev{
        position: absolute;
        z-index: 1000;
        top: 50%;
        left: 30px;
        font-size: 30px;
        color: #fff;
        cursor: pointer;

    }

    #next{
        position: absolute;
        z-index: 1000;
        top: 50%;
        right: 30px;
        font-size: 30px;
        color: #fff;
        cursor: pointer;
    }

    #identidade{
        position: relative;

    }

}




/*--------------------------------------
            TABLET VERSION
-------------------------------------------*/

@media screen and (min-width: 768px) and (max-width: 1024px){

    .hidden{
        display: none !important;
    }
    
    header{
        width: 100vw;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }

    body{
        background-color: #FFFFFF;
        color: #1c1c1c;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='446' height='446' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23FAFAF6' stroke-width='1.9'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23FFF8A4'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    }

    main{
        width: 100vw;
    }

    .thin{
        font-weight: 200;
    }

    header img{
        height: 100%;
        width: auto;
    }



    .container{
        margin: 0 auto;
        width: 100vw;
    }
    
    main .cont-hero{
        background-image: url(../img/FUNDO.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        height: 450px;
        width: 100vw;
        color: #fff;
    }
    
    .hero{
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.454) 25%, rgba(255,238,0,0) 100%);
        width: 100vw;
        padding: 30px 40px;
    }

    .hero-text{
        z-index: 100;
    }
    
    .hero-text h1{
        line-height: 1;
        letter-spacing: 1.2px;
        margin-bottom: 20px;
        font-size: 34px;
    }
    
    .hero-text p{
        font-size: 15px;
    }
    
    .contato{
        border: none;
        padding: 12px 25px;
        background-color: #ffee00;
        text-transform: uppercase;
        font-weight: 800;
        cursor: pointer;
        display: inline-block;
        font-size: 17px;
        margin-top: 30px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.282); 
    box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.274);
    }
    
    .contato:hover{
        background-color: #e2d301;
    }
    
    .hero-image{
        width: 100%;
        height: 400px;
        position: relative;
        
    }
    
    .hero-image_dog{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    
    .hero-image_dog img{
        height: 200px;
    }
    
    
    
    .hero-image_man img{
        height: 350px;
        position: absolute;
        right: 0;
        top: -30px;
    }
    
    /*
    INTRO SECTION
    */
    
    .container-intro{
        margin: 0 auto;
        width: 100%;
    }
    
    .intro{
        display: grid;
        grid-template-columns: 100%;
        margin: 0 auto;
        padding: 40px 30px;
    }
    
    .intro h2{
        text-align: center;
        font-size: 33px;
    }
    
    .intro-text{
        column-count: 3;
        column-gap: 30px;
        margin-top: 30px;
        text-align: justify;
        line-height: 1.4;
        font-size: 14px;
    }
    
    
    /*
    JOBS
    */
    
    .container-jobs{
        width: 100vw;
        background-color: #ffee00;
        height: 330px;
        
    }
    
    .jobs{
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 40px 30px;
        gap: 30px;
    }
    
    .job-box{
        text-align: center;
    }
    
    .job-box h3{
        font-size: 24px;
    }
    
    .job-box-content{
        margin-top: 70px;
        position: relative;
        background-color: #fff;
        border-radius: 20px;
        padding: 40px 20px;
        height: 230px;
        -webkit-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.5); 
        box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.5);
    }
    
    .job-box-content-icon{
        position: absolute;
        padding: 5px;
        left: 50%;
        top: -45px;
        transform: translateX(-50%);
        background: linear-gradient(40deg, rgba(0,0,0,1) 23%, rgba(174,230,45,1) 100%);
        width: 90px;
        height: 90px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.5);
    }
    
    
    
    .job-box .job-bold{
        font-size: 16px;
        margin: 20px 0 10px 0;
        font-weight: bold;
    }
    
    .job-box p{
        font-size: 15px;
        line-height: 1.4;
    }
    
    
    
    button:hover{
        background-color: #569b33;
    }
    
    button{
        border: none;
        position: absolute;
        bottom: -25px;
        left: 50%;
        width: 200px;
        height: 50px;
        transform: translateX(-50%);
        background-color: #6dbd45;
        text-transform: uppercase;
        font-weight: 800;
        cursor: pointer;
        font-size: 17px;
        border-radius: 10px;
        display: block;
        -webkit-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.5);
    }
    
    button:hover,
    .contacto:hover{
        background-color: #569b33;
    }
    
    
    /*
    JOBS
    */
    
    .container-design{
        background-color: #000;
        
    }
    
    .design{
        width: 100%;
        margin: 0 auto;
        padding: 150px 30px 100px 30px;
        color: #fff;
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .design-quote{
        padding: 0 20px 30px 20px;
        font-size: 28px;
        position: relative;
    }
    
    .design-quote p{
        z-index: 10;
    }
    
    .design-quote::before{
        content: url(img/quote.png);
        position: absolute;
        height: 30px;
        width: 30px;
        display: flex;
        opacity: 0.4;
    
    }
    
    .design .design-col p{
        letter-spacing: 1.4px;
        line-height: 1.4;
    }
    
    /*
    PORTFOLIO
    */
    
    .container-portfolio,
    #container-logotipos{
        width: 100vw;
        background: rgb(255,238,0);
    background: linear-gradient(0deg, rgba(255,238,0,1) 23%, rgba(0,0,0,1) 23%, rgba(0,0,0,1) 78%, rgba(255,238,0,1) 78%);
    }
    
    .portfolio1,
    .portfolio2{
        padding: 30px;
        width: 100%;
        gap: 10px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    
    .port-box img{
        cursor: pointer;
        height: 200px;
        width: 200px;
    }
    
    .port-box,
    .logo-box{
        transition: transform 0.9s;
    }
    
    .port-box:hover,
    .logo-box:hover{
        transform: scale(0.95);
    }
    
    /*
    LOGOTIPOS
    */
    
    #container-logotipos{
        height: auto;

    }

    #container-logotipos h2{
        display: none;
    }
    
    .logotipos{
        padding: 50px 30px 100px 30px;
        gap: 10px;
        margin: 40px;
        display: grid;
        grid-template-columns: 200px 200px 200px;
        justify-content: center;
    }
    
    .logo-box img{
        cursor: pointer;
        height: auto;
        width: 200px;
    }
    
    .t3rd{
        background-color: #8156e4;
    }
    
    .logobg{
        background-color: #fff;
    }
    
    
    /*
    CTA FOOTER
    */
    
    .container-contato{
        width: 100vw;
        margin: 0 auto;
        background-color: #ffee00;
        padding-bottom: 80px;
    }
    
    .entrecontato{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    
    .entrecontato p{
        font-size: 20px;
        font-weight: bold;
        
    }
    
    .contacto{
        border: none;
        padding: 12px 25px;
        background-color: #6dbd45;
        text-transform: uppercase;
        font-weight: 800;
        margin-left: 50px;
        cursor: pointer;
        display: inline-block;
        font-size: 17px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.282); 
        box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.135);
    }
    
    
    /*
    FOOTER
    */
    
    footer{
        width: 100vw;
        display: flex;
        padding-top: 30px;
        justify-content: center;
        padding-bottom: 150px;
    }
    
    .container-footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .social{
        margin-left: 50px;
    }
    
    .social p{
        text-align: center;
        padding-bottom: 10px;
    }
    
    ul{
        list-style: none;
        display: flex;
    }
    
    li img{
        width: 60px;
        height: auto;
        cursor: pointer;
    }
    
    li{
        padding-right: 20px;
    }
    
    .prof{
        font-weight: 100;
        margin-bottom: 10px;
    }
    
    .local,
    .social p{
        font-size: 12px;
        font-weight: 100;
         
    }

    #prev{
        position: absolute;
        z-index: 1000;
        top: 50%;
        left: 10%;
        font-size: 30px;
        color: #fff;
        cursor: pointer;

    }

    #next{
        position: absolute;
        z-index: 1000;
        top: 50%;
        right: 10%;
        font-size: 30px;
        color: #fff;
        cursor: pointer;
    }

    #identidade{
        position: relative;

    }
    

}